<footer class="page-footer font-small bg-primary pt-4 bg-custom">

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center text-white">
                <h4>Siga-nos nas redes sociais!</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <ul class="social">
                    <li>
                        <a href="" target="_blank"><i class="fab fa-facebook icon-facebook"></i></a>
                    </li>
                    <li>
                        <a href="" target="_blank"><i class="fab fa-instagram icon-instagram"></i></a>
                    </li>
                    <li>
                        <a href="" target="_blank"><i class="fab fa-linkedin icon-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="" target="_blank"><i class="fab fa-github icon-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center text-white">
                <h4>Siga-nos nas redes sociais!</h4>
            </div>
        </div>
    </div>
    <div class="footer-copytight bg-custom-ft text-center py-1 text-white">
        <span class="text-light">® 2021 Copyright:</span>
        <p>Desenvolvido por <a href="#">@letomurakai</a></p>
    </div>
</footer>