<nav class="navbar navbar-expand-lg navbar-light nav-custom shadow-sm">

    <a class="navbar-brand logo-icon ml-5" href="#"><i class="fas fa-comment-dollar"></i>

    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-principal"
        aria-controls="navbar-principal" aria-expanded="false" aria-label="altera nevegação">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse ml-5" id="navbar-principal">
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item">
                <p class="m-0 font-weight-bold text-white fs-16">John Doe</p>
            </li>

            <li class="nav-item mr-2 ml-2">
                <a href="">
                    <p class="editar m-0">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </p>
                </a>
            </li>

            <li class="nav-item dropdown mr-5">
                <div class="mr-5">
                    <a href="#" class="nav-link" id="navDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://source.unsplash.com/random/48x48/" alt="foto do usuario" width="48px"
                            height="48px" class="img-fluid rounded-circle shadow">
                    </a>
                    <div class="dropdown-menu shadow" aria-labelledby="navDropdown">
                        <a class="dropdown-item" href="#">Perfil</a>
                        
                        <div class="dropdown-divider"></div>
                        <a href="" class="btn btn-outline-danger w-100">Sair<i class="fas fa-door-open text-white fs-16 ml-3"></i></a>
                    </div>

                </div>
                
            </li>
        </ul>

    </div>

</nav>