<nav class="navbar navbar-expand-lg navbar-light bg-primary">

    <a class="navbar-brand mx-5" href="#">nav-icon</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-principal"
        aria-controls="navbar-principal" aria-expanded="false" aria-label="altera nevegação">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse mx-5" id="navbar-principal">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
            <li class="nav-item">
                <p class="m-0 font-weight-bold text-white fs-16">Nome da people</p>
            </li>

            <li class="nav-item me-2 ms-2">
                <a href="">
                    <p class="text-white m-0">
                        <i class="far fa-edit" aria-hidden="true"></i>
                    </p>
                </a>
            </li>

            <li class="nav-item active dropdown me-5">
                <a href="#" class="nav-link dropdown-toggle" id="navDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://source.unsplash.com/random/48x48/" alt="foto do usuario" width="48px" height="48px"
                    class="img-fluid rounded-circle">  
                </a>
                <ul class="dropdown-menu" aria-labelledby="navDropdown">
                    <li class="dropdown-item">
                        <a href="" class="btn btn-outline-danger w-100">Sair<i class="fas fa-door-open text-white fs-16"></i></a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</nav>