/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(180deg, rgb(59, 59, 59), rgb(58, 69, 83));
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}