<div class="container-fluid">

    <div class="row d-flex align-items-center">
        <div class="d-none d-md-block col-md-6" id="img-bg">
            
        </div>
    
        <div class="col-12 col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-6">

                    <h1 class="display-4 mt-5 mt-md-0 text-center mb-3">Cadastro</h1>
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="Qual seu nome ?">

                        <label for="usuario">Usuário</label>
                        <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Digite um usuário">

                        <label for="foto">Link da foto</label>
                        <input type="text" class="form-control" name="foto" id="foto" placeholder="Link da foto aqui">

                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" name="senha" id="senha" placeholder="digite sua senha">

                        <label for="confirmPassword">Confirme sua senha</label>
                        <input type="password" class="form-control" name="senha" id="confirm" placeholder="confirme sua senha">

                        <div>
                            <label for="foto">Tipo de Usuário</label>
                            <select class="form-control" name="tipo" id="tipo">
                                <option>Selecione um tipo de usuário:</option>
                                <option value="normal">Usuário</option>
                                <option value="adm">Admin</option>
                            </select>
                        </div>
                        
                        <div class="d-flex justify-content-center mt-2">
                            <button class="btn mr-4" type="submit">CANCELAR</button>
                            <button class="btn btn-outline-success btn-lg" type="submit">CADASTRAR</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>